/*==================== VARIABLES ==================== */
$color__gray: #303435;
$color__lilac: #04F1FF;
$color__intro-font: #3A3A3A;


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
  height: 100%;
  width: 100%;
}

.app {
  background: #272727;

}


.header {
  display: flex;
  justify-content: space-between;
  font-family: OpenSansExtraBold, sans-serif;
  font-size: 42px;
  height: max-content;
  background: #272727;

  .header__wrapper {
    display: flex;
    justify-content: space-between;

    .header__year {
      color: $color__gray;
    }

    .header__leftSide {

    }

    .header__rightSide {
      display: flex;

      .header__language {
        color: $color__gray;
        font-size: 20px;
        display: flex;
        margin-right: 19px;

        .header__language__en {
        }

        .header__language__ru {
        }

        .header__language_active {
          color: #fff;
        }
      }

    }
  }


}

.navigation {
  display: flex;
  flex-direction: column;
  width: max-content;
  margin-right: 60px;

  .navigation-title {
    writing-mode: vertical-lr;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(360deg);
    box-sizing: border-box;
    color: $color__lilac;
    font-family: OpenSansRegular, sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 30px;
    white-space: nowrap;

  }

  .steps {
    font-family: OpenSansBold, sans-serif;
    width: max-content;
    max-height: 316px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .step {
      color: $color__intro-font;
      font-size: 22px;
    }

    .step-line-wrapper {
      .step-line {
        height: 90px;
        background: #2D2D2D;
        width: 1px;
        margin: 0 auto;
      }
    }

    .step_active {
      color: $color__lilac;
    }
  }
}


.intro {
  position: relative;
  background: #272727;
  z-index: 1000;
  height: 100vh;
  //height: max-content;
  .intro__wrapper {
    position: relative;
    z-index: 1100;
    height: 100%;

    .intro__content-wrapper {
      height: 100%;

      display: flex;
      justify-content: space-between;
      position: relative;
      z-index: 1100;


      .intro__content {
        width: 100%;
        display: flex;

        .intro__content-main {
          width: 100%;

          .intro__title {
            font-family: TippyToesBold, sans-serif;
            font-size: 150px;
            color: #fff;
            margin: 0 auto;
            height: max-content;
            align-self: center;
            display: flex;
            width: max-content;
            white-space: nowrap;
          }

          .intro__prompt {
            writing-mode: sideways-rl;
            -webkit-writing-mode: rl;
            font-family: OpenSansRegular, sans-serif;
            font-size: 22px;
            color: $color__lilac;
            width: max-content;
          }
        }

        .intro__content-sub {
          display: flex;
          justify-content: space-between;
          flex-direction: row;
          width: 100%;
          margin: 0 auto;

          .intro__text {
            font-family: OpenSansRegular, sans-serif;
            font-size: 16px;
            line-height: 24px;
            color: $color__gray;
            max-width: 245px;
          }

          .intro__logo-wrapper {
            display: flex;
            align-items: center;

            .intro__logo {
              margin-right: 34px;
            }

            .intro__tokens {
              position: relative;
              color: $color__lilac;
              font-family: OpenSansRegular, sans-serif;
              font-size: 16px;

              .intro__tokens-bg {
                position: absolute;
                background: #393939;
                width: 300%;
                z-index: 1500;
                height: 58px;
                top: -15px;
                left: -12px;
              }

              .intro__tokens-text {
                position: relative;
                z-index: 1600;
                text-transform: uppercase;
                display: flex;
                align-items: center;
              }
            }
          }
        }

      }
    }
  }

  .intro__background {
    position: absolute;
    z-index: 1010;
    top: 20vh;
    left: -62vh;
  }
}

.bubbles {
  background: #000;
  box-shadow: 6px -1px 32px 40px rgba(0, 0, 0, 1);

  .bubbles__demonstration {
    display: flex;
    justify-content: space-around;
    width: 100%;

    .bubbles__group {
      display: flex !important;
    }

    .bubbles_desktop {
      display: flex !important;


    }

    .bubble {
      position: absolute;
    }
  }
}

.header-mobile {
  display: none;
}


/*==================== IMPORTS ==================== */
/*Импорты*/
@import "normalizer.css";
@import "fonts.css";

/*==================== ZEROING ==================== */

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

section {
  position: relative;
  height: max-content;
  z-index: 1500;
  overflow: hidden;
}

/*==================== VARIABLES ==================== */
$color__gray: #303435;
$color__lilac: #04F1FF;
$color__intro-font: #3A3A3A;

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
  height: 100%;
  width: 100%;
}

.app {
  background: #272727;
  line-height: 26px;
}

.navigation {
  display: flex;
  flex-direction: column;
  width: max-content;
  margin-right: 60px;

  .navigation-title {
    color: $color__lilac;
    font-family: OpenSansRegular, sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 30px;
    white-space: nowrap;

  }

  .steps {
    font-family: OpenSansBold, sans-serif;
    width: max-content;
    max-height: 346px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .step {
      color: $color__intro-font;
      font-size: 22px;
    }

    .step-line-wrapper {
      .step-line {
        height: 90px;
        background: #2D2D2D;
        width: 1px;
        margin: 0 auto;
      }
    }

    .step_active {
      color: $color__lilac;
    }
  }
}


.intro {
  position: relative;
  background: #272727;
  z-index: 1000;
  height: 100vh;
  padding: 20px 0;

  .intro__wrapper {
    position: relative;
    z-index: 1100;
    height: 100%;

    .intro__content-wrapper {
      height: 100%;

      display: flex;
      justify-content: space-between;
      position: relative;
      z-index: 1100;


      .intro__content {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        .intro__content-main {
          width: max-content;
          display: flex;
          align-self: flex-end;

          .intro__title {
            font-family: TippyToesBold, sans-serif;
            font-size: 150px;
            color: #fff;
            margin: 0 auto;
            height: max-content;
            align-self: center;
            width: max-content;
            white-space: nowrap;
            display: none;
          }

          .intro__prompt {
            writing-mode: sideways-rl;
            -webkit-writing-mode: vertical-rl;;
            font-family: OpenSansRegular, sans-serif;
            font-size: 22px;
            color: $color__lilac;
            width: max-content;
          }
        }

        .intro__content-sub {
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          width: max-content;
          margin: 0 auto;

          .intro__text {
            font-family: OpenSansRegular, sans-serif;
            font-size: 16px;
            line-height: 24px;
            color: $color__gray;
            max-width: 245px;
          }

          .intro__logo-wrapper {
            .intro__logo {
            }

            .intro__tokens {
            }
          }
        }

      }
    }
  }

  .intro__background {
    position: absolute;
    z-index: 1010;
    top: 20vh;
    left: -62vh;
  }
}

.header {
  display: none;
  justify-content: space-between;
  font-family: OpenSansExtraBold, sans-serif;
  font-size: 42px;
  height: max-content;
  background: #272727;
  overflow: hidden;
  padding: 10px 0;

  .header__wrapper {
    display: flex;
    justify-content: space-between;

    .header__year {
      color: $color__gray;
    }

    .header__leftSide {

    }

    .header__rightSide {
      display: flex;

      .header__language {
        color: $color__gray;
        font-size: 20px;
        display: flex;
        margin-right: 19px;

        .header__language__en {
        }

        .header__language__ru {
        }

        .header__language_active {
          color: #fff;
        }
      }

    }
  }


}

.header-mobile {
  display: block;
  background-color: #272727;
  height: max-content;

  .header-mobile__title {
    font-family: TippyToesBold, sans-serif;
    font-size: 30px;
    color: #fff;
    margin: 0 auto;
    width: max-content;
    white-space: nowrap;
    padding: 0 18vw;
    background: #000;
    border-radius: 0 0 20px 20px;
  }
}

.bubbles {

  //background: #000;
  position: relative;
  z-index: 10000;
  height: max-content;

  .bubbles_desktop {
    display: none;
    align-items: center;

    img {
      height: 180px;
    }
  }

  .bubbles__demonstration {
    .bubble_1 {
      width: 96px;
      height: 98px;
      top: 78px;
      left: -50px;
    }

    .bubble_2 {
      width: 48px;
      height: 49px;
      top: 40px;
      left: 140px;
    }

    .bubble_3 {
      width: 75px;
      height: 76px;
      left: 80px;
      top: 50px;
    }

    .bubble_4 {
      width: 48px;
      height: 49px;
      top: 128px;
    }

    .bubble_5 {
      width: 48px;
      height: 49px;
      top: 60px;
      right: 170px;
    }

    .bubble_6 {
      width: 82px;
      height: 83px;
      top: 70px;
      left: 110px;
    }

    .bubbles__group {
      position: relative;
      width: 204px;
      height: 215px;
      align-items: center;

      img {
        height: 180px;
      }

      .bubble {

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

  }

}

.about {
  height: max-content;
  width: 100%;
  padding: 100px 0;
  position: relative;

  .about__bg {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10000;

    .about__location {
      position: absolute;
      top: 220px;
      left: 187px;

      .about__point {
        width: max-content;
        margin: 0 auto 10px;
      }

      .about__point-title {
        font-family: TippyToesBold, sans-serif;
        color: #fff;
        font-size: 40px;
      }
    }

  }

  .about__content {
    display: flex;
    position: relative;
    z-index: 11000;

    .about__project {
      font-family: OpenSansRegular, sans-serif;

      .about__project-title {
        font-family: OpenSansBold, sans-serif;
        font-size: 30px;
        color: $color__lilac;
        text-transform: uppercase;
        margin-bottom: 23px;
      }

      .about__project-text {
        max-width: 363px;
        font-size: 18px;
        color: $color__gray;
        margin-bottom: 46px;
      }

      .about__project-more {
        .about__project-more-logo {
          margin-bottom: 11px;
        }

        .about__project-more-link {
          font-size: 18px;
          text-decoration: underline;
          color: #fff;
        }
      }
    }
  }
}

.bubblesAbout {
  overflow: unset;
  background: linear-gradient(to bottom, #000 30%, #272727 100%) no-repeat;
  -webkit-box-shadow: 6px -1px 85px 40px rgba(0, 0, 0, 1);
  -moz-box-shadow: 6px -1px 85px 40px rgba(0, 0, 0, 1);
  box-shadow: 6px -1px 32px 40px rgba(0, 0, 0, 1);
}

/*==================== PARALLAX ==================== */
.bg-parallax {
  /* The image used */
  background-image: url("../IMG/parallax-bg.png");
  height: 400px;

  /* Set a specific height */
  min-height: 400px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .bg-parallax__blur {
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    height: 100%;
    top: 0;
  }

  .bg-parallax__image {
    position: relative;
    top: -160px;
    margin: 0 auto;
    display: block;
    width: 70%;
  }
}

.works {
  padding: 40px 0;

  .works__content {
    overflow: hidden;

    .navigation {
      position: absolute;
      z-index: 11000;
      left: 110px;
      box-shadow: -40px -90px 30px 90px #272727;
      background: #272727;
      height: 40%;
      top: 85px;
    }

    .works__demonstration-wrapper {
      .works__demonstration {
        .tabs {
          width: max-content;
          margin: 0 auto 40px auto;
          button{
            background: #272727;
            color: $color__lilac;
          }
          .follow__info-tabs {
            display: flex;
            font-family: OpenSansBold, sans-serif;
            color: $color__lilac;
            font-size: 18px;

            .follow__info-tabs-item__text {
              margin: 0 auto;
            }

            .active {
              background: $color__lilac;
              color: #000;
            }

            .follow__info-tabs-item_1 {
              border: 1px $color__lilac solid;
              width: 209px;
              height: 55px;
              margin-right: 23px;
              display: flex;
              align-items: center;

              &:active {
                background: $color__lilac center/cover no-repeat;

              }
            }

            .follow__info-tabs-item_2 {
              border: 1px $color__lilac solid;
              width: 209px;
              height: 55px;
              display: flex;
              align-items: center;

              .follow__info-tabs-item__text {
                margin: 0 auto;
              }

              &:active {
                background: $color__lilac center/cover no-repeat;


              }
            }

          }
        }

        .works__slider {
          overflow: hidden;

        }
      }
    }
  }

}

/*==================== SLIDERS ==================== */

.slick-next {
  right: 10px;

  background: url("../IMG/imgNextBtn.svg") center/cover no-repeat;
  background-size: 24%;
  width: 40px;
  height: 40px;

  &:active {
    background: $color__lilac url("../IMG/imgNextBtn_active.svg") center/cover no-repeat;
    background-size: 24%;

  }
}

.slider-gallery {
  margin-bottom: 60px;
  position: relative;
  left: -14px;

  .slick-list {
    overflow: unset;
  }

  .slick-slide {
    img {
      margin: 0 auto;
      width: 100%;
    }

    margin-right: 100px;

  }

  .slick-current {
    img {
      height: 110% !important;
      width: 110% !important;
      position: relative;
      top: -7%;
    }
  }
}

.slider-names {
  font-family: OpenSansBold, sans-serif;
  font-size: 24px;
  color: #535353;
  text-transform: uppercase;
  margin-bottom: 37px;

  .slick-slide {
    text-align: center;
  }

  .slick-current {
    color: $color__lilac;
  }
}

.slider-info {
  .slick-prev {
    &::before {
      content: '';
      background: url("../IMG/imgPrevBtn.svg") center/cover no-repeat;
      background-size: 24%;
      width: 40px;
      height: 40px;
      color: #000;
      position: relative;
      display: block;
      border: 2px $color__lilac solid;
      top: -180px;
      left: 110px;
    }

    &:active:before {
      background: $color__lilac url("../IMG/imgPrevBtn_active.svg") center/cover no-repeat;
      background-size: 24%;

    }
  }

  .slick-next {
    &::before {
      content: '';
      background: url("../IMG/imgNextBtn.svg") center/cover no-repeat;
      background-size: 24%;
      width: 40px;
      height: 40px;
      color: #000;
      position: relative;
      display: block;
      border: 2px $color__lilac solid;
      top: -180px;
      right: 130px;
    }

    &:active:before {
      background: $color__lilac url("../IMG/imgNextBtn_active.svg") center/cover no-repeat;
      background-size: 24%;

    }
  }


  .info {
    .info__content {
      display: flex;
      justify-content: space-around;
    }

    .info__title {
      text-align: center;
      font-family: TippyToesBold, sans-serif;
      font-size: 50px;
      color: #fff;
      margin-bottom: 45px;
    }

    .info__side-left {

      .info__text {
        position: relative;
        text-align: left;
        max-width: 467px;
        font-family: OpenSansRegular, sans-serif;
        font-size: 18px;
        color: #8A8A8A;
        line-height: 26px;

        &:after {
          background-image: url(../IMG/close_cuoters.svg);
          width: 40px;
          height: 40px;
          content: '';
          display: block;
          position: relative;
          background-repeat: no-repeat;
          left: 93%;
        }

        &:before {
          background-image: url(../IMG/open_cuoters.svg);
          width: 40px;
          height: 40px;
          content: '';
          display: block;
          position: relative;
          background-repeat: no-repeat;
        }
      }
    }

    .info__side-right {
      display: flex;

      .info__sub-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .info__sub-info-tokens {
          width: max-content;
          position: relative;
          left: 45%;
        }

        .info__sub-info-autograph {
          margin-right: 30px;
        }
      }

      .info__photo {

        width: max-content;
      }
    }
  }


}





